<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Marcador de truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Valendo!!: </h1>
<ion-grid>
  <ion-row>
    <ion-col><ion-button expand="full" shape="round" color="secondary">1</ion-button></ion-col>

    <ion-col><ion-button expand="full" shape="round" color="secondary">3</ion-button></ion-col>

    <ion-col><ion-button expand="full" shape="round" color="secondary">6</ion-button></ion-col>

    <ion-col><ion-button expand="full" shape="round" color="secondary">9</ion-button></ion-col>

    <ion-col><ion-button expand="full" shape="round" color="secondary">12</ion-button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col> <h3>time 1</h3></ion-col>
    <ion-col> <h3>time 2</h3></ion-col>
  </ion-row>

</ion-grid>
</ion-content>
